.card {
    width: 100%;
    margin: 10px;
    max-width: 1200px;
    color: #ffff;
    box-shadow: 0px 1xp 10xp rgba(0,0,0,0.2);
    flex-direction: column;
    padding: 20px;
    translate:inherit;
    background-color: black;
    background-size: 20000px;
    
    }
    .image{
    width: 200px;
    height: 40%;
    
    
    }
    .container{
    display: flex;
    
    }
    .button{
        position: absolute;
        margin: 400px;
        color: red;
    }
    
    
    .name{
        color: red;
    }
    
    .but{
        color: purple;
        background-color:black;
        margin-left: 170px;
    }